.sidebar2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  overflow-y: scroll;
} 


#main-div {
    transition: margin-left .5s;
    padding: 16px;
  }

.set-header{
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }

  .div-cards{
    display: inline-block;
    width: 190px;
    height: 310px;
    border:  1px solid #ceefff;
    box-shadow: 0 1px 4px 0 rgb(21 180 255 / 50%);
    background-color: white;
    padding: 5px 3px 5px 3px;
    margin-left: 2%;
    margin-top: 5px;
  }
  .card-name {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 4%;

  }
  .manageBtn{
    height: 30px;
    width: 75px; 
    font-size: 12px; 
    color: white;
    background-color: #03A9F4;
    border: solid thin silver; 
    margin-left:30%;
    margin-top:10px; 
    border-radius: 5px; 
    font-weight: 400;
  }
  .divTooltip{
    position: absolute;
    margin: 0;
    z-index: 9999;
    display: block;
  }

  #table-contains{
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    
    font-size: 14px;
    line-height: 21px;
    display: table;
    border-bottom : 2px solid  #6678B1;


  }

  #modal-card-name{
   
    font-family:" New Century Schoolbook", TeX Gyre Schola, 
    serif; 
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 600;
    color: #444;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
  }

  #table-contains-body tr:nth-child(odd) {
    background-color: #f7f7f7;
  }



.search{
  width: 50%;
  position: relative;
  display: flex;
}

.searchTerm{
  width: 60%;
  border: 3px solid #00b4cc;
  border-radius: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus{
  color: #00b4cc;
}

.searchButton{
  width: 40px;
  height: 36px;
  border: 1px solid #00bacc;
  background:  #00bacc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

