<div id="mainDivHome">

    <div class="jumbotron">
        <div class="row w-100">
                <div class="col-md-3">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div>
                        <div class="text-info text-center mt-3"><h4>Your Decks Registered</h4></div>
                        <div class="text-info text-center mt-2"><h1>234</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div>
                        <div class="text-success text-center mt-3"><h4>Your Boxes Registered</h4></div>
                        <div class="text-success text-center mt-2"><h1>9332</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-danger mx-sm-1 p-3">
                        <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div>
                        <div class="text-danger text-center mt-3"><h4>Your Tins Registered</h4></div>
                        <div class="text-danger text-center mt-2"><h1>346</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-warning mx-sm-1 p-3">
                        <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-warning text-center mt-3"><h4>Your Cards Registered</h4></div>
                        <div class="text-warning text-center mt-2"><h1>346</h1></div>
                    </div>
                </div>
             </div>
        </div>
    <div id="DivEsquerda" class="containerr" >
 
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..\..\assets\img\decksHome.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Decks</h5>
              <p class="card-text">A complete list of all Structural Decks launched so you can add all the cards at once</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..\..\assets\img\boxHome.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Box</h5>
              <p class="card-text">List of the box and their respective cards </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..\..\assets\img\tinHome.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mega Tins</h5>
              <p class="card-text">Mega Tin released and their respective cards</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..\..\assets\img\cardsHome.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cards</h5>
              <p class="card-text">List with separate cards so you can individually add or remove to your collection</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>

   

    <div id="divDireita">
        <div id="divDireitaHeader">

            </div>
            <div id="divCarousel">
             <carousel height="300" loop="true"  cellWidth="100%" adaptiveHeight  style="margin-top: 0; height: fit-content;">
                <div class="carousel-cell" height="100%">
                    <img src="..\..\assets\img\banner.png" width="500%"  >
                    
                 </div>
                <div class="carousel-cell">
                    <img src="..\..\assets\img\monsters\Normal\36821538.jpg" alt="">
                </div>
              
                <div  class="carousel-cell">
                    <img class="d-block w-100" 
                    src="https://www.duelshop.com.br/15516-large_default/yu-gi-oh-deck-estrutural-queima-almas.jpg" alt="Third slide">
                </div>          
            </carousel>
        </div>
    </div>
</div>

<app-footer></app-footer>