

  <div class="container" id="main-div" style="margin-top: 20px; border: solid thin silver; background-color: ghostwhite; padding: 10px;">
    <div class="set-header">  
        User's Deck
    </div>

    <!--Deck name-->
    <div>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Deck name</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
    </div>

    <div id="deckContainer" style="border: solid tomato;">
          <!-- Deck structure-->
        <div id="deckStructure" style="border: solid blue; " >
            <!--Main Deck-->
            <label>Main Deck</label>
            <div id="mainDeck" style="border: solid red; background-color: #FFDEAD;" class="structure">
                <p>Main deck</p>
            </div>

            <!--Extra Deck-->
            <label>Extra Deck</label>
            <div id="extraDeck" style="border: solid yellow; background-color: #D8BFD8 " class="structure">
                <p>Extra deck</p>
            </div>

            <!--Side Deck-->
            <label>Side Deck</label>
            <div id="sideDeck" style="border:solid  green;" class="structure">
                <p>Side deck</p>
            </div>
            
        </div>

        <!--Search side-->
        <div id="cardsSearch" style="border: solid saddlebrown; " >

           <div class="cardItemSearch" >
                <div class="row">                  
                    <div class="col-md-3">
                        <img src="/../../assets/img/outras/ex.jpg" alt="" width="67px" height="92px">
                    </div>                  
                    <div class="col-md-9">
                       <p style="font-family:'Courier New', Courier, monospace;">Morphin Jar</p>
                       <p>Atk: 100 / Def: 200</p>
                       <p>Fiend</p>
                    </div>
                </div>
           </div>

           <div class="cardItemSearch" >
            <div class="row">                  
                <div class="col-md-3">
                    <img src="/../../assets/img/outras/ex.jpg" alt="" width="67px" height="92px">
                </div>                  
                <div class="col-md-9">
                   <p style="font-family:'Courier New', Courier, monospace;">Morphin Jar</p>
                   <p>Atk: 100 / Def: 200</p>
                   <p>Fiend</p>
                </div>
            </div>
       </div>

       <div class="cardItemSearch" >
        <div class="row">                  
            <div class="col-md-3">
                <img src="/../../assets/img/outras/ex.jpg" alt="" width="67px" height="92px">
            </div>                  
            <div class="col-md-9">
               <p style="font-family:'Courier New', Courier, monospace;">Morphin Jar</p>
               <p>Atk: 100 / Def: 200</p>
               <p>Fiend</p>
            </div>
        </div>
   </div>


   <div class="cardItemSearch" >
    <div class="row">                  
        <div class="col-md-3">
            <img src="/../../assets/img/outras/ex.jpg" alt="" width="67px" height="92px">
        </div>                  
        <div class="col-md-9">
           <p style="font-family:'Courier New', Courier, monospace;">Morphin Jar</p>
           <p>Atk: 100 / Def: 200</p>
           <p>Fiend</p>
        </div>
    </div>
</div>

<div class="cardItemSearch" >
    <div class="row">                  
        <div class="col-md-3">
            <img src="/../../assets/img/outras/ex.jpg" alt="" width="67px" height="92px">
        </div>                  
        <div class="col-md-9">
           <p style="font-family:'Courier New', Courier, monospace;">Morphin Jar</p>
           <p>Atk: 100 / Def: 200</p>
           <p>Fiend</p>
        </div>
    </div>
</div>


        </div>
    </div>


  </div>
 
  
  