

  <div class="container" id="main-div" style="margin-top: 20px; border: solid thin silver; background-color: ghostwhite; padding: 10px;">
    <div class="set-header">  
        User's Deck
    </div>

    <!--Deck name-->

    <div style="margin-bottom: 20px;">
        <span>
            <mat-form-field appearance="outline" style="width: 35%;">
              <mat-label>Deck name</mat-label>
              <input matInput placeholder="Placeholder" [value]="deck.nome" style="width: 500px;" #deckName maxlength="80">
              <mat-hint>Deck Code:  <b>{{deck.id}}</b></mat-hint>
            </mat-form-field>
            
        </span>

    <span style="color: green; margin-left: 10%;" >
        <span class="material-icons" title="Deck total value" style="cursor: pointer;" > paid </span>   <span style="font-size:xx-large">{{totalDeckValue}}</span>   
    </span>
        
    <div id="tableRarity" >
    
        <table style="border-collapse: separate; border-spacing: 3px 0; font-weight: 400; text-align: center; padding: 5px; width: 100%;">
            <thead>
              <tr>
                <th  class="table-primary" width="25%">Common</th>
                <th  class="table-info" width="25%">Rare</th>
                <th class="table-success" width="25%">Super Rare</th>
                <th class="table-warning" width="25%">Ultra Rare</th>
              </tr>
             
            </thead>
            <tbody>
              <tr style="background-color: ghostwhite;">
                <td >{{deck.qtdCommon}}</td>
                <td>{{deck.qtdRare}}</td>
                <td>{{deck.qtdSuperRare}}</td>
                <td>{{deck.qtdUltraRare}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>


    <div id="optionsBtn" >
        <div id="btnSearch" style="float: right;">
            <button mat-raised-button color="primary" (click)="openDialogSearch()" >Search <mat-icon>search</mat-icon></button>
        </div>

        <div id="btnRearrange" style="float: left;">
            <button mat-raised-button color="accent" style="margin-bottom: 10px; background-color: #04AA6D;"  (click)="rearrengeCards()">
                <mat-icon>sort</mat-icon>
                Rearrange
            </button>

            <span style="margin-left: 20px; margin-bottom: -5px;">
                <mat-checkbox class="example-margin" [(ngModel)]="toManage" >To manage</mat-checkbox>
            </span>

            <button mat-raised-button style="background-color:#1E90FF ; color: white; margin-left: 250px;" (click)="saveDeck()">
                Save 	<mat-icon>save</mat-icon>
           </button>

        </div>
      
    </div>

    <div cdkDropListGroup #dropListContainer>
        <div id="deckContainer" >
            <!-- Deck structure-->
            <div id="deckStructure"  >
                <!--Main Deck-->
                <div style="font-size: small; font-weight: 500;"> 
                    <h3 class="titles">Main Deck</h3>
                    <span style="color: goldenrod;">Monsters: {{typeCard.monster}}</span> / 
                    <span style="color: green;">Magic: {{typeCard.magic}}</span> /
                    <span style="color: red;">Trap: {{typeCard.trap}}</span>      
                </div>

         <div id="mainDeck"   style="border: solid goldenrod; background-color: #FFDEAD; padding: 3px;" >


                <div class="example-box" *ngFor="let card of mainDeckCards; let i = index; " style="background: transparent;" >
                   
                    <div>
                        <a [routerLink]="['/card-detail/', card.nome]"  name="{{card.numero}}" (click)="storedCardId(card.numero)">
                            <img [src]='cardImagem(card.numero)' alt="" width="105px" height="136px" >
                        </a>
                       
                        <input type="hidden" id="main_hidden_{{i}}">
                        <input type="hidden" id ="main_hidden_price_{{i}}" class="price"/>
                    </div>

                    <div class="divSimpleInfo" [ngStyle]="{display: toManage == true ? 'block' : 'none'}">

                        <ul class="cardSimpleInfo">
                            <li>   
                                <span *ngIf="card.relDeckCards.length == 1 " style="color: #228B22; font-weight: 700; top: 0;" id="main_{{i}}">
                                $ {{card.relDeckCards[0].card_price}}
                               </span>
                                <span *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1"  style="color: red; font-weight: 700; top: 0;" id="main_{{i}}"> 
                                    $ 0.00</span>
                                 <span id="main_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 1 " >
                                    {{card.relDeckCards[0].card_raridade}}
                                </span> 
                                 <span id="main_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1 ">
                                  -
                                </span> 
                            </li>
                            <li>
                                <select  style="font-size: smaller; " #set (click)="consultCardSetCode(card.numero, i)" 
                                (click)="onChangeCardSetCode(set.value, 'main', i)">
                                     <option [value]="0" [selected]="card.relDeckCards.length == 0 || card.relDeckCards.length > 1">SET CODE...</option>  
                                    <option  *ngFor="let setCode of card.relDeckCards" [selected]="card.relDeckCards.length == 1"
                                    [value]="setCode.card_set_code" >{{setCode.card_set_code}}</option>                                
                                </select>   
                            </li>
                            <li style="margin-top: 3px;">  
    
                                    <mat-icon style="color: #2F4F4F; " class="card-item-icon"
                                    (mouseover)="mostrarDivCardsInfo($event, card.numero)"
                                    (mouseout)="esconderImgToolTip()"> remove_red_eye </mat-icon>
                                    
                                    <i class="material-icons card-item-icon" style=" color: blue;margin-left: 20%;" (click)="sendToSideDeck('main', i)"
                                     matTooltip="Send to Side Deck" >arrow_circle_down</i>

                                    <span style="float: right; color:red; font-size: xx-small;"><i class="material-icons card-item-icon"
                                        matTooltip="Remove" (click)="removeFromArray(mainDeckCards, i,'main')" >highlight_remove</i></span>
                                    
                            </li>
                        </ul>
            
                    </div>
                </div>  

                
            </div> 


                <!--Extra Deck-->
                <div style="font-size: small; font-weight: 500;"> 
                    <h3 class="titles">Extra Deck</h3>
                    <span style="color: purple;">Fusion: {{typeCard.fusion}}</span> / 
                    <span style="color: blue;">Link: {{typeCard.link}}</span> /
                    <span style="color: silver;">Synchron: {{typeCard.synchro}}</span> /     
                    <span style="color: black;">XYZ: {{typeCard.xyz}}</span>                  
                </div>
               
         <div id="extraDeck" style="border: solid purple; background-color: #9370DB " class="structure" >
                <div class="example-box" *ngFor="let card of extraDeckCards; let i = index"  style="background-color: transparent;">
                        <div>
                            <img  [src]='cardImagem(card.numero)' alt="" width="105px" height="136px">
                            <input type="hidden" id="extra_hidden_{{i}}">
                            <input type="hidden" id ="extra_hidden_price_{{i}}" class="price"/>
                        </div>
        
                        <div class="divSimpleInfo" [ngStyle]="{display: toManage == true ? 'block' : 'none'}" >

                            <ul class="cardSimpleInfo">
                                <li>   
                                    <span *ngIf="card.relDeckCards.length == 1 " style="color: #228B22; font-weight: 700; top: 0;" id="extra_{{i}}">
                                    $ {{card.relDeckCards[0].card_price}}
                                   </span>
                                    <span *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1"  style="color: red; font-weight: 700; top: 0;" id="extra_{{i}}"> 
                                        $ 0.00</span>   
                                     <span id="extra_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 1 ">
                                        {{card.relDeckCards[0].card_raridade}}
                                    </span> 

                                     <span id="extra_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1 ">
                                      -
                                    </span> 
                                </li>
                                <li>
                                    <select  style="font-size: smaller; " #set (click)="consultCardSetCode(card.numero, i)" 
                                    (change)="onChangeCardSetCode(set.value, 'extra', i)">
                                         <option [value]="0" [selected]="card.relDeckCards.length == 0 || card.relDeckCards.length > 1">SET CODE...</option>  
                                        <option  *ngFor="let setCode of card.relDeckCards" [selected]="card.relDeckCards.length == 1"
                                        [value]="setCode.card_set_code" >{{setCode.card_set_code}}</option>                                
                                    </select>   
                                </li>
                                <li style="margin-top: 3px;">  
        
                                        <mat-icon style="color: #2F4F4F; " class="card-item-icon"
                                        (mouseover)="mostrarDivCardsInfo($event, card.numero)"
                                        (mouseout)="esconderImgToolTip()"> remove_red_eye </mat-icon>
                                        
                                        <i class="material-icons card-item-icon" style=" color: blue;margin-left: 20%;"  matTooltip="Send to Side Deck" >arrow_circle_down</i>
    
                                        <span style="float: right; color:red; font-size: xx-small;"><i class="material-icons card-item-icon"
                                            matTooltip="Remove" (click)="removeFromArray(extraDeckCards, i,'extra')" >highlight_remove</i></span>
                                        
                                </li>
                            </ul>
                
                        </div> 


                </div>
            </div>

                <!--Side Deck-->
                <h3 class="titles">Side Deck</h3>
                 <div id="sideDeck" style="border:solid  green;" class="structure"    >
                <div class="example-box" *ngFor="let card of sideDeckCards; let i = index"  style="background-color: transparent;">
                    <div>
                        <img  [src]='cardImagem(card.numero)' alt="" width="105px" height="136px">
                        <input type="hidden" id="side_hidden_{{i}}">
                        <input type="hidden" id ="side_hidden_price_{{i}}" class="price"/>
                    </div>
    
                    <div class="divSimpleInfo" [ngStyle]="{display: toManage == true ? 'block' : 'none'}">

                        <ul class="cardSimpleInfo">
                            <li>   
                                <span *ngIf="card.relDeckCards.length == 1 " style="color: #228B22; font-weight: 700; top: 0;" id="side_{{i}}">
                                $ {{card.relDeckCards[0].card_price}}
                               </span>
                                <span *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1"  style="color: red; font-weight: 700; top: 0;" id="side_{{i}}"> 
                                 $ 0.00
                                </span>

                                 <span id="side_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 1 ">{{card.relDeckCards[0].card_raridade}}</span> 
                                 <span id="side_r_{{i}}" style="font-size: x-small; float: right;" *ngIf="card.relDeckCards.length == 0 || card.relDeckCards.length > 1 ">
                                  -
                                </span> 
                            </li>
                            <li>
                               
                                <select  style="font-size: smaller; " #set (click)="consultCardSetCode(card.numero, i)" 
                                (change)="onChangeCardSetCode(set.value, 'side', i)">
                                    <option [value]="0" [selected]="card.relDeckCards.length == 0 || card.relDeckCards.length > 1">SET CODE...</option>  
                                    <option  *ngFor="let setCode of card.relDeckCards" [selected]="card.relDeckCards.length == 1"
                                    [value]="setCode.card_set_code" >{{setCode.card_set_code}}</option>                                
                                </select>
                               
                            </li>
                            <li style="margin-top: 3px;">  
    
                                    <mat-icon style="color: #2F4F4F; " class="card-item-icon"
                                    (mouseover)="mostrarDivCardsInfo($event, card.numero)"
                                    (mouseout)="esconderImgToolTip()"> remove_red_eye </mat-icon>
        

                                    <i   class="material-icons card-item-icon" style=" color: brown;margin-left: 20%;" (click)="sendToMainDeck(i)"
                                    matTooltip="Send to Main Deck" >arrow_circle_up</i>
                                  
                                    <span style="float: right; color:red; font-size: xx-small;"><i class="material-icons card-item-icon"
                                        matTooltip="Remove" (click)="removeFromArray(sideDeckCards, i,'side')" >highlight_remove</i></span>
                                    
                            </li>
                        </ul>
            
                    </div> 


            </div>
            </div>
                
            </div>

            <!--Search side-->
            <div id="cardsSearch"  (scroll)="onScroll()">

            <div id="searchedCardsBar">
                <h5> Cards List</h5>
            </div>

            <div  *ngFor="let item of arrayCards; let i = index" cdkDrag style="border: solid thin  silver; height: 93px; align-items: center; width: 99%;  " >  

                <div style="width: 30%;display: inline-block; margin: 0; ">                  
                    <img  [src]='cardImagem(item.numero)' alt="" width="67px" height="92px">
                   
                </div>

                <div style="width: 70%; display: inline-block; background: ghostwhite; height: 92px;  float: right;  border-collapse:collapse;
                display : table;" >   
                 <a [routerLink]="['/card-detail/', item.nome]"   (click)="storedCardId(item.numero)">
                    <span style="font-family: Lato, sans-serif; color: #0056b3; font-size: 14px ; font-weight: 700;" >{{item.nome}}  </span>
                 </a>               
                

                  <div style="  display : table-row;   vertical-align : bottom;  height : 1px; ">
                
                    <i class="material-icons card-item-icon" style="margin-left: 35%; color: #f4511e;" 
                    matTooltipClass="example-tooltip-red"                   
                    matTooltip="Add Side Deck" 
                    (click)="addCardSideDeck(i)"> arrow_circle_left </i> &nbsp;
                    
                                            
                    <i *ngIf="item.isExtraDeck == false"
                    class="material-icons card-item-icon" style=" color: #228B22;"
                    matTooltipClass="example-tooltip-green"      
                    matTooltip="Add Main Deck"
                    (click)="addCardMainDeck(i)"> arrow_circle_left </i> 

                    <i *ngIf="item.isExtraDeck == true"
                    class="material-icons card-item-icon" style=" color: purple;"
                    matTooltipClass="example-tooltip-purple"      
                    matTooltip="Add Extra Deck"
                    (click)="addCardExtraDeck(i)"> arrow_circle_left </i> 
                        
                    &nbsp;  <mat-icon style="color: #2F4F4F; " class="card-item-icon"
                    (mouseover)="mostrarDivCardsInfo($event, item.numero)"
                    (mouseout)="esconderImgToolTip()"> remove_red_eye </mat-icon>

                  </div>

                </div> 
            </div>
                
                <!--<div class="cardItemSearch" *ngFor="let item of arrayCards">
                
                    <div class="row">                  
                        <div class="col-md-3">
                            <img [src]="item.image" alt="" width="67px" height="92px">
                        </div>                  
                    <div class="col-md-9">
                        <span class="cardNameSpan">
                            <a href="#" style="text-decoration: none">
                            {{item.name}}
                            </a>
                            </span> <br>
                        <span class="atkDefSpan">Atk: 100 / Def: 200</span><br>
                        <span>{{item.type}}</span><br>
                        <span class="collectSpan">Collection: <select name="col" id="">
                            <option value="Teste1">Teste1</option>
                            <option value="Teste2">Teste2</option>
                        </select>  
                        </span>
                        </div>
                    </div>
                </div>-->

                        
         
            </div>
    
        </div>
    </div>
    

  </div>
 

<div style="margin-top: 60px;">
    <app-footer></app-footer>
</div> 

    <!-- Mostrar div com informações do card-->
 <div *ngIf="isShowTooltip == true" class="divTooltip" >
    <app-cardinfo [cardImage]="cardImage" [card]="card"></app-cardinfo>
  </div> 
  
