

  <div class="container" id="main-div" style="margin-top: 20px; border: solid thin silver; background-color: ghostwhite; padding: 10px;">
    <div class="set-header">  
        User's Deck
    </div>

    <!--Deck name-->
    <div>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Deck name</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
          </p>
    </div>

    <div cdkDropListGroup>
        <div id="deckContainer" style="border: solid tomato;">
            <!-- Deck structure-->
            <div id="deckStructure" style="border: solid blue; " >
                <!--Main Deck-->
                <div style="font-size: small; font-weight: 500;"> 
                    <h3 class="titles">Main Deck</h3>
                    <span style="color: goldenrod;">Monsters: 15</span> / 
                    <span style="color: green;">Magic: 10</span> /
                    <span style="color: red;">Trap: 15</span>      
                </div>
            <div id="mainDeck"   style="border: solid red; background-color: #FFDEAD; padding: 3px;" 

            cdkDropList
            #mainDeck="cdkDropList"
            [cdkDropListData]="mainDeckCards"
            [cdkDropListConnectedTo]="[cardItem]"
            class="example-list"
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)"
            (cdkDragReleased)="remove($event)">

                <div class="example-box" *ngFor="let item of mainDeckCards;" cdkDrag >
                    <img [src]="item.image" alt="" width="75px" height="100px">
                </div>
            </div>

                <!--Extra Deck-->
                <div style="font-size: small; font-weight: 500;"> 
                    <h3 class="titles">Extra Deck</h3>
                    <span style="color: purple;">Fusion: 15</span> / 
                    <span style="color: black;">XYZ: 10</span> /
                    <span style="color: silver;">Synchron: 15</span>      
                </div>
               
                <div id="extraDeck" style="border: solid yellow; background-color: #D8BFD8 " class="structure"
                cdkDropList
                #extraDeck="cdkDropList"
                [cdkDropListData]="extraDeckCards"
                class="example-list"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
                >
                <div class="example-box" *ngFor="let item of extraDeckCards;" cdkDrag >
                    <img [src]="item.image" alt="" width="75px" height="100px">
                </div>
                </div>

                <!--Side Deck-->
                <h3 class="titles">Side Deck</h3>
            <div id="sideDeck" style="border:solid  green;" class="structure"
                cdkDropList
                #sideDeck="cdkDropList"
                [cdkDropListData]="sideDeckCards"
                class="example-list"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
                >
                <div class="example-box" *ngFor="let item of sideDeckCards;" cdkDrag >
                    <img [src]="item.image" alt="" width="75px" height="100px">
                </div>
            </div>
                
            </div>

            <!--Search side-->
            <div id="cardsSearch" style="border: solid saddlebrown; "
            cdkDropList
            #cardItem="cdkDropList"
            [cdkDropListData]="arrayCards"
            [cdkDropListConnectedTo]="[mainDeck]"
            (cdkDropListDropped)="drop($event)">

            <div  *ngFor="let item of arrayCards" cdkDrag  class="example-box" > 
                <div>
                    <img [src]="item.image" alt="" width="67px" height="92px">
                </div>

            </div>
                
                <!--<div class="cardItemSearch" *ngFor="let item of arrayCards">
                
                    <div class="row">                  
                        <div class="col-md-3">
                            <img [src]="item.image" alt="" width="67px" height="92px">
                        </div>                  
                    <div class="col-md-9">
                        <span class="cardNameSpan">
                            <a href="#" style="text-decoration: none">
                            {{item.name}}
                            </a>
                            </span> <br>
                        <span class="atkDefSpan">Atk: 100 / Def: 200</span><br>
                        <span>{{item.type}}</span><br>
                        <span class="collectSpan">Collection: <select name="col" id="">
                            <option value="Teste1">Teste1</option>
                            <option value="Teste2">Teste2</option>
                        </select>  
                        </span>
                        </div>
                    </div>
                </div>-->



            </div>
        </div>
    </div>
    

  </div>
 
  
