.set-header{
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }

  #searchedCardsBar {
    border-bottom: dotted thin silver;
    margin-bottom: 5px;
    background: #007bff;
    font-weight: 700;
    vertical-align: center;
    text-align: center;
    height: 25px;
    color: white;
    font-weight: 700;
 
    
  }
 

  #deckContainer{
      display: flex;
  }

  #deckStructure {
      padding: 2px;
      margin: 0 15px 0 0px;
      width: 72%;
      border: 1px solid #ffb091;
      box-shadow:  rgb(187, 187, 187) 0px 0px 3.84px 0px;
      padding: 10px;
      background:#FDF5E6
  }

  .structure {
      margin-bottom: 5px;
      min-height: 96px;
  }

  #cardsSearch{
      padding: 1px;
      width: 25%;
      min-width: 300px;
      height: 500px;
      overflow-y: scroll;
      border: 4px solid #a9eaeb;
      box-shadow:  rgb(187, 187, 187) 0px 0px 3.84px 0px;
      padding: 10px;
      background: #f8f8f8;

     
    }

    .cardItemSearch{
      
        height: 95px;
        font-family: "open sans";
        border: dotted thin silver;
        text-align: left;
        letter-spacing: 0;
        font-size: 15px;
        
    }
 
    .cardNameSpan {
        font-family: sans-serif;;
        font-size: 14px;
        font-weight: 700;
        line-height: 20.16px;
     
        text-align: center;
        word-spacing: 0px;
        background-color:  #FFFFFF;
        background-position: 0% 0%;
        color: #0645AD;
        transform: none;
        transition: all 0s ease 0s;
      
    }

    .atkDefSpan, .collectSpan{
        font-family: "Helvetica Neue", Helvetica, Arial, Verdana, "sans-serif", Dotum;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 17px;
        text-decoration: none solid rgb(119, 119, 119);  
        color: #777777;
    }

    .atkDefSpan {
        font-weight: 600 !important;
    }

    .example-box{
        margin: 2px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background: white;
        font-size: 14px;    
    }

    .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        display: block;
      }

    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }

     .cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.titles {
   font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.3px;
    text-decoration: none solid rgb(202, 202, 202);
    word-spacing: 0px;
    color: #333333;
    margin-top: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*daqui pra baixo*/

.divTooltip{
  position:fixed;
  top: 40%;
  left: 10%;
 /* margin-top: -9em; set to a negative number 1/2 of your height
  margin-left: -15em;*/

}

.divTooltip:hover{
  z-index: 1;
}

.card-item-icon{
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.card-item-icon:hover{opacity: 1;}

.example-tooltip-red {
  background: #b71c1c;
}

.example-tooltip-green {
  background: #126d12;
}

.example-tooltip-purple {
  background: rgb(102, 1, 102);
}

.cardSimpleInfo{
  list-style: none;
  display:block;
  text-align: center;
  margin-left: -39px;
  margin-top: 10px ;
  height: 80px;
 
}

.cardSimpleInfo li {
  list-style: none;
  display: block;
  padding: 3px;
  position: relative;
  text-decoration: none;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  height: 33%;
  margin-bottom: 2p;

}

.divSimpleInfo{
 width:140px;
 padding: 5px; height: fit-content;
 border-radius: 0 5px 5px 0;
 background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

select {
  border-radius: 3px;
  box-shadow: 0 1px 3px -2px #9098A9;
  border: 1px solid #E8EAED;
  transition: all 150ms ease;
  padding: 1px;
}

#optionsBtn{
 width: 100%; 
 height: 50px;
   
    margin-bottom: 10px;
     border: solid thin silver;
      padding: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 5px;

}

#tableRarity{
  width: 35%;
   float: right;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    border-radius: 5px ; 
    border: solid thin silver
}



