
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

h2{
    color: #CE4D39;
    font-family: "ff-cocon-web-pro",sans-serif;
    font-style: normal;
    font-weight: 800;
}

h2 span {
    font-family: 'Goblin One', cursive;
    font-size: 50px;
    color: darkslateblue;
}

.set-header{
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    color: white;
     font-size: 1.5em;
     text-align: center;
     vertical-align: center;
     text-transform: uppercases;
     height: 35px; 
     margin-bottom: 20px;
  }

  .divTooltip{
    position: absolute;
    margin: 0;
    z-index: 9999;
    display: block;
  }