/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.raridade {
    width: 70px; 
    height: 30px; 
    border-radius: 15px; 
    text-align: center ; 
    font-weight:bolder; 
    font-size: 20px;    
}

.comum{
   background: rgb(211,211,211);
   background: linear-gradient(318deg, rgba(211,211,211,1) 5%, rgba(239,241,241,1) 80%);
   color: #778899;
}

button {
    cursor: pointer;
}

a {
    cursor:  pointer !important;
}