<div class="container" style="border: solid thin red; background-color: ghostwhite;">
    
    <div id="search-div">

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" style="background-color: whitesmoke;">
            <mat-expansion-panel-header style="background-color: #63b175 !important;">
            <mat-panel-title>
                <h4 style="font-family: 'Arvo'; font-weight: 700; color: white; font-size: 26px;">Search filters
                    <mat-icon>filter_list</mat-icon> </h4>
            </mat-panel-title>
            <mat-panel-description>
           
            </mat-panel-description>
            </mat-expansion-panel-header>
                    
            <div id="div_inputs" style="border: solid thin white;  margin-top: 15px; padding: 10px;">
        
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Inputs</h4>
                    </mat-panel-title>
                    <mat-panel-description>
                   <p *ngIf="panelOpenState == true" style="font-size: small;"> 
                    For input fields like Level, Link, Pendulum you can use "-" as <i>between</i>, Ex: 2-5;
                    </p>
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field style="width: 100% !important; " appearance="legacy" >
                                <mat-label> Name</mat-label>
                                <input matInput type="text" [(ngModel)]="cardname" name="cardname">
                                <button *ngIf="cardname" matSuffix mat-icon-button (click)="cardname=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field style="width: 100% !important; " appearance="legacy" >
                                <mat-label>Number</mat-label>
                                <input matInput type="number" name="number" [(ngModel)]="number">
                                
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-4">
                            <mat-form-field style="width: 30% !important; " appearance="legacy" >
                                <mat-label>Level</mat-label>                      
                                <input matInput type="text" name="level" [(ngModel)]="level" maxlength="5">
                               
                            </mat-form-field>
                            <mat-icon>stars</mat-icon>      	
                        </div>
                    </div>
                    <!--ATTACK ROW-->
                        <div class="row">
                            <div class="col-md-6">
                         
                                <label for="">ATTACK:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-icon color="warn">arrow_upward</mat-icon>
                                <mat-form-field style="width: 25% !important; " appearance="legacy" >
                                    <mat-label>More or Equal</mat-label>
                                    <input matInput type="number" max="5000" name="plusatk" [(ngModel)]="plusatk">
                                   
                                </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i> AND</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-icon color="primary">arrow_downward</mat-icon>
                                <mat-form-field style="width: 25% !important; " appearance="legacy" >
                                    <mat-label>Less or Equal</mat-label>
                                    <input matInput type="number" max="5000" name="lessatk" [(ngModel)]="lessatk">
                                </mat-form-field>
                            </div>
                            
                            <div class="col-md-6">
                                <label for="">DEFENSE:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-icon color="warn">arrow_upward</mat-icon>
                                <mat-form-field style="width: 25% !important; " appearance="legacy" >
        
                                    <mat-label>More or Equal</mat-label>
                                    <input matInput type="number" max="5000" name="plusdef" [(ngModel)]="plusdef">
                                </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i> AND</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-icon color="primary">arrow_downward</mat-icon>
                                <mat-form-field style="width: 25% !important; " appearance="legacy" >
                                    <mat-label>Less or Equal</mat-label>
                                    <input matInput type="number" max="5000" name="lessdef" [(ngModel)]="lessdef">
                                </mat-form-field>
                            </div>
        
                        </div>    
        
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" appearance="legacy" style="width: 300px !important;">
                                    <mat-label>Card description</mat-label>
                                    
                                    <textarea matInput name="description" [(ngModel)]="description"></textarea>
                                   
                                  </mat-form-field>
                
                            </div>
        
                            <div class="col-md-3">
                                <img src="..\..\assets\img\tiposMonstros\Link.PNG" alt="" width="30px" height="30px">                       
                                <mat-form-field style="width: 60% !important; " appearance="legacy" >
                                    <mat-label>Links</mat-label>                      
                                    <input matInput type="text" maxlength="3" name="links" [(ngModel)]="links">      	
                                </mat-form-field>
                            </div>
        
                            <div class="col-md-3">
                                <img src="..\..\assets\img\outras\EscalaAzul.png" alt="Blue Scale"> &nbsp;
                                <mat-form-field style="width: 60% !important; " appearance="legacy" >
                                    <mat-label>Pendulums</mat-label>                      
                                    <input matInput type="text" maxlength="5" name="pendulum" [(ngModel)]="pendulum">      	
                                </mat-form-field>
                                <img src="..\..\assets\img\outras\EscalaVermelha.png" alt="Red Scale"> 
                            </div>
                        </div>
                </mat-expansion-panel>  
    
                </div>
                <!--Cards filter-->
            <div style="border: solid thin white;  margin-top: 5px; padding: 10px; " id="att-search">
    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Cards</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                      
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul>
                            <li *ngFor="let card of cards">
                            <mat-checkbox class="example-margin cards" value='{{card.name}}'
                             #cards>
                                <img [src]='card.img' alt="card.nome"  width="30" height="40" name>
                                {{card.name}}
                                </mat-checkbox>     
                            </li>
                        
                        </ul>
                    </mat-expansion-panel>
                </div>
                <!--Attrribute filter-->
                <div style="border: solid thin white;   margin-top: 5px; padding: 10px; " id="att-search">
    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Attribute</h4>
                        </mat-panel-title>
                   
                        </mat-expansion-panel-header>
                       
                                <ul>
                                    <li *ngFor="let attr of atributos">
                                    <mat-checkbox class="example-margin attr" value='{{attr.name}}'>
                                        <img [src]='attr.img' alt="attr.nome"  width="40" height="40">
                                        {{attr.name}}
                                        </mat-checkbox>     
                                    </li>
                                
                                </ul>
                    </mat-expansion-panel>          
                </div>
                <!--Types filter-->
                <div style="border: solid thin white;  margin-top: 5px; padding: 10px; " id="att-search">
                    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Types</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                       
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                                
                        <ul>
                            <li *ngFor="let type of types" >
                            <mat-checkbox class="example-margin types" value="{{type.name}}">
                                <img [src]='type.img' alt="type.nome"  width="30" height="30">
                                {{type.name}}
                                </mat-checkbox>     
                            </li>
                        
                        </ul>
                    </mat-expansion-panel>        
                </div>
        </mat-expansion-panel>     

  

            <div style="margin-top: 20px; margin-left: 45%;">
                <button mat-raised-button color="primary" (click)="searchCards()">Search
                    <mat-icon>search</mat-icon>
                </button> 
            </div>
            
    </div>

    <div id="painel-cards">
        
       <!-- <div id="cards-filter" >
            <label for="sort">Sort By:</label> &nbsp;&nbsp;
            <mat-form-field appearance="fill" >
                <mat-label>Choose one</mat-label>
                <mat-select [(value)]="chosen">
                   <mat-option>Nothing</mat-option> 
                  <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                    {{sort.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field> &nbsp;&nbsp;

            <mat-form-field appearance="fill" style="width: 13% !important;" *ngIf=" chosen != null">  
                <mat-label>Order</mat-label> 
                <mat-select *ngIf=" chosen != 'name' " value="asc">
                   <mat-option value="asc">Ascendant</mat-option> 
                   <mat-option value="desc">Descendant</mat-option> 
                </mat-select>

                <mat-select *ngIf=" chosen == 'name' " value="az">
                    <mat-option value="az">A-z</mat-option> 
                    <mat-option value="za">Z-a</mat-option> 
                 </mat-select>

            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field appearance="fill" style="width: 14% !important;">  
                <mat-label>Only</mat-label> 
                <mat-select >
                    <mat-option>Both</mat-option> 
                   <mat-option value="have"> I have</mat-option> 
                   <mat-option value="dont"> I Don't have</mat-option> 
                </mat-select>
            </mat-form-field>
        </div> -->


        <div id="cards-header">
            Cards
           </div>
        <mat-spinner *ngIf="!loading"></mat-spinner>
        <span style="margin-left: 80%; font-family: 
            SegoeProBlack, Segoe UI,SegoeUI,Helvetica,Arial,sans-serif; 
            color: #054b16; font-weight: 900;" *ngIf="isRandomCards">
            Random cards</span>
        
         <span style="margin-left: 80%; font-family: 
            SegoeProBlack, Segoe UI,SegoeUI,Helvetica,Arial,sans-serif; 
            color: steelblue; font-weight: 900;" *ngIf="!isRandomCards">
            <span style="color:#63b175;"> {{totalFound}} </span>cards found!</span>
        
        <div id="cards-body" style="padding-left: 3%;">
            
            <div id="imgGeneral" *ngFor="let card of cardsFound"    
                style="margin-left: 1%; margin-bottom: 1%; cursor: pointer; " class="imgCard">
                    
                    <a [routerLink]="['/card-detail/', card.nome]" name="{{card.numero}}" (click)="openCardDetail($event)">  
                        <img [src]='cardImagem(card.numero)' alt="" width="160px" height="219px" name="{{card.numero}}"
                        (mouseover)="mostrarImgToolTip(card.imagem, $event)"
                        (mousemove)="mostrarImgToolTip(card.imagem, $event)"
                        (mouseout)="esconderImgToolTip()"
                        style="margin: -2px;" >
                    </a>
                     <br>

                    <span style="font-size: small;
                    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif'; font-weight: 600;color: rgb(163, 159, 159);">
                        Total you have: 
                        <span style="color: red;" *ngIf="card.qtd == null">0</span>
                        <span style="color: navy;" *ngIf="card.qtd > 0">{{card.qtd}}</span>

                        <mat-icon style="color: navy; transform: scale(.8);float: right; " class="card-item-icon"
                        (mouseover)="mostrarDivCardsInfo($event, card.numero)"
                        (mouseout)="esconderImgToolTipDetailed()"> remove_red_eye </mat-icon>
                    </span>
            </div>

                <!--Div que será mostrada quando o mouse passar sobre a carta -->
                <div class="divTooltip" [ngStyle]="{'top': topTp, 'left': leftTp }">
                    <img [src]='imgTooltip'  alt="" width="310px" height="420px" *ngIf="isShowTooltip" 
                    class="imgTooltip" >
                </div>
                
        </div>

        <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      ></div>
    </div>
</div>



     <!-- Mostrar div com informações do card-->
     <div *ngIf="isShowTooltipDetailed == true" class="divTooltipDetailed" >
        <app-cardinfo [cardImage]="cardImage" [card]="card"></app-cardinfo>
      </div> 

<div style="margin-top: 8%;">
    <app-footer></app-footer>
</div>

