.container{
    margin-top: 40px;
    padding: 20px;
}

#search-div{
    margin-left: 5%;
    margin-bottom: 30px;
    border: solid thin silver;
    border-radius: 3px;
    width: 90%;
    background-color: ghostwhite;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#att-search ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    
    display:table;
    width: 100%;

}

h4 {
    color: #5469d4;
    text-decoration: unset;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#att-search ul li {

    display:inline-block;
    padding: 5px;
    height: 60px;
    margin-right: 10px ;
}

#cards-header{
    width: 100%;
    height: 30px;
    background: rgb(15,117,178);
    background: linear-gradient(146deg, rgba(15,117,178,1) 59%, rgba(59,216,235,1) 78%, rgba(239,241,241,1) 97%, rgba(241,241,241,1) 100%);
    font-family: 'Arvo', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    border: none;
}

#imgGeneral{
    height: fit-content;
    display: inline-block;
    margin: 0;   
    margin-top: 20px; 
  }

  .divTooltip{
    position: absolute;
    margin: 0;
    z-index: 9999;
    display: block;
  }

  .divTooltipDetailed{
    position:fixed;
    top: 20%;
    left: 10%;
   /* margin-top: -9em; set to a negative number 1/2 of your height
    margin-left: -15em;*/
  
  }
  
  .divTooltipDetailed:hover{
    z-index: 1;
  }