    <!--Div que será mostrada quando o mouse passar sobre a carta -->
    <div  id="mainDiv">
       <div  style="float: left;">
        <img [src]='cardImage'  alt="" width="240px" height="335px"  >    
       </div>
       <div style="border: solid thin white; float: right; width: 340px; margin-top: 3px; min-height: 330px; padding: 5px; ">
        <!--Card name-->
        <div>
            <h5 >{{card.nome}}</h5>
        </div>

        <div class="generalInfo">
          <p>
            <span *ngIf="card.atk != undefined && card.atk != null ">
              <img  src="..\..\assets\img\tiposMonstros\atk.JPG" alt="" width="30px" height="30px" style="display: inline-block;" > ATK: {{card.atk}} 
            </span>
            
            <span *ngIf="card.def != null " >
              <img src="..\..\assets\img\tiposMonstros\def.JPG" alt="" width="30px" height="30px" style="display: inline-block;  margin-left: 15px;"> DEF: {{card.def}}
            </span>

            <span *ngIf="card.qtd_link != null " >
              <img src="..\..\assets\img\tiposMonstros\Link.PNG" alt="" width="30px" height="30px" style="display: inline-block;  margin-left: 15px;"> Link - {{card.qtd_link}}
            </span>
            
        </p>

          <p>
            <img [src]='card.atributo.atributoImgPath' alt="" width="30px" height="30px" style="display: inline-block; "> {{card.atributo.name}}

            <img *ngIf="card.nivel != null " src="..\..\assets\img\outras\Nivel.png" alt="" width="20px" height="20px" style="display: inline-block; 
             margin-left: 30px;"> {{card.nivel}}

            <span *ngIf="card.escala != null" style="margin-left: 30px;">             
                <img src="..\..\assets\img\outras\EscalaAzul.png" alt="Blue Scale"> 
                  <span> {{card.escala}} </span> 
                <img src="..\..\assets\img\outras\EscalaVermelha.png" alt="Red Scale"> 
            </span>

          </p>
          
          <p *ngIf="card.arquetipo != null">
              Archetype: <span style="color: skyblue; font-weight: 700;">{{card.arquetipo}}</span>
          </p>

        </div>

        <div class="cardDescription">

          <p >
            {{card.descricao}}
          </p>
        </div>

        <div class="cardDescription">

          <p >
            {{card.descr_pendulum}}
          </p>
        </div>


       
       </div>
     
    </div>
