

<div id="mainDiv" class="container" style="background-color: whitesmoke;" >
   <div class="set-header">
      <span *ngIf="set_type == 'UD' ">User's Decks</span>
      <span *ngIf="set_type != 'UD' ">Konami's Decks</span>
   </div>

   <div id="header-main" >

      <div >

         <!-- <div class="input-group input-group-sm" style="width: 300px; margin-top: 5px; margin-left: 10px;">
           <input class="form-control mr-sm-2" type="search"
           placeholder="Search deck.." aria-label="Search" [(ngModel)]="deckFilter.nome"  >
       </div>  -->
       
       <div class="wrap" style="margin-top: 5px;">
         <div class="search">
            <input type="text" class="searchTerm" placeholder="Search deck..." maxlength="50" [(ngModel)]="setName" name="setName">
            <button type="submit" class="searchButton" >
              <i class="fa fa-search" (click)="searchByName()"></i>
           </button>
         </div>
      </div>
       
            <!-- PAGINATION-->
      <div style="margin-left: 40%; margin-top: -23px;">
<!--
         <mat-form-field appearance="standard">
            <mat-label style="color: white;">Quantity per page</mat-label>
            <mat-select (selectionChange)="handlePageSizeChange($event)" style="color: white;">
            <mat-option [value]="size" *ngFor="let size of pageSizes">
               {{size}}
            </mat-option>
            </mat-select>
         </mat-form-field> -->
         <label for="" style="color: white; font-size: small;">Quantity per page: </label>&nbsp;
         <select class="form-select" aria-label="Default select example" (change)="handlePageSizeChange($event.target.value)">
            <option [value]="size" *ngFor="let size of pageSizes"> {{size}}</option>
         </select>

         <div style="width: 30%; float:right">
            <label for=""  style="color: white; font-size: small;">Collection: </label>&nbsp;
            <select class="form-select" aria-label="Default select example">
               <option value="1" selected>Deck</option>
               <option value="2">Tin</option>
               <option value="3">Box</option>
             </select>
         </div>
        

    </div>



      </div>

   </div>
   <!-- <div id="divSelectCollection">

      <mat-form-field appearance="fill">
         <mat-label >Collection</mat-label>
         <mat-select  value="DECK" (selectionChange)="handlePageSizeChange($event)">
         <mat-option value="DECK"> DECK </mat-option>
         <mat-option value="TIN"> TIN </mat-option>
         <mat-option value="BOX"> BOX </mat-option>

         </mat-select>
      </mat-form-field>
   </div> -->


   <!-- Decks-->
   <mat-tab-group mat-align-tabs="end">
      <mat-tab >
         <ng-template mat-tab-label>
            <mat-icon>view_module</mat-icon>
            Grid
         </ng-template>
      <div id="cont-cards" class="flex">
         <div id="cardDiv">

         <div class="deck-info-main deck-wrap clearfix" *ngFor="let deck of (deck |  filterBy: deckFilter) |
            paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: totalItens} ">
               <div class="row">
                  <div class="col-md-3 col-sm-12 col-xs-12">
                     <div class="deckuct-deatil" style="margin-bottom: 12px; margin-left: 12px;">
                           <h6 class="name" title=" {{deck.nome}}" style="font-weight: 600;">
                              <!--<a  name="{{deck.id}}"  (click)="deckDetailPage(deck.nome); storeDeckId($event)" >-->

                                 <a *ngIf="set_type != 'UD'" name="{{deck.id}}"  (click)="storeDeckId(deck.id)" [routerLink]="['/deck-details/', deck.nome]" >
                                 <!--(click)="storeDeckId($event)"-->
                                  {{deck.nome}}
                                 </a><br>

                                 <a *ngIf="set_type == 'UD'" name="{{deck.id}}"  (click)="storeDeckId(deck.id)" [routerLink]="['/user-deck-details/', deck.nome]" >
                                    <!--(click)="storeDeckId($event)"-->
                                     {{deck.nome}}
                                 </a><br>
                              <!-- <a href="#">
                                 <span >{{deck.nomePortugues}}</span>
                              </a>                             -->

                           </h6>
                           <span class="tag1"></span>
                     </div>
                     <div class="col-md-6 col-sm-10 col-xs-10" style="margin-left: -4px;">
                        <div class="deckuct-image">
                           <img [src]='deck.imagem' class="img-responsive" height="238px" width="200px" title="{{deck.nome}}">
                           <!-- <span class="tag2 hot">
                              HO
                           </span> -->
                        </div>
                     </div>

                     <div class="deckuct-info smart-form"  *ngIf="set_type != 'UD'">
                        <div class="row">
                           <div class="col-md-6"  style="text-align: center;">
                        <!--    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>-->
                              <span style="font-size:x-small; color: #ccc; font-weight: bold; " *ngIf="set_type != 'UD'">Total you have:</span><br>

                              <div class="clearfix quantity r_corners d_inline_middle f_size_medium " style="display: inline-block;">
                                 <span *ngIf="set_type != 'UD'">

                                    <input type="text" name="input_qtde" id="inp_{{deck.id}}" disabled
                                    value="{{deck.quantityUserHave == null ? 0 : deck.quantityUserHave}}" >
                                    
                                    <button class="bg_tr d_block f_left" data-direction="up"  name="{{deck.id}}" title="Add to your collection"
                                    (click)="addSetToUserCollection($event)" >+</button>

                                 </span>

                              </div>

                           </div>
                        </div>

                     </div>

                     
               

                           <!--Opções que só aparecem se for deck de usuário-->
                           <!-- &nbsp; <span style="font-size:small; color: rgb(182, 178, 178); font-weight:normal;"></span>&nbsp;
                           <mat-icon style="color: royalblue; cursor: pointer;" title="Add to your collection">library_add</mat-icon> -->
                           <div class="row editRemove"   *ngIf="set_type == 'UD'">
                              <div class="col-md-6"  style="text-align: center;">
                           <!--    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>-->
                                 <span style="font-size:x-small; color: #ccc; font-weight: bold; " *ngIf="set_type != 'UD'">Total you have:</span><br>
   
                                 <a  name="{{deck.id}}" [routerLink]="['/userdeck-details/', deck.nome]" (click)="storeDeckId(deck.id)" >
                                    <button type="button" class="btn btn-outline-warning btn-sm"> Edit  </button>
                                 </a> &nbsp;
                                 
                                 <button type="button" class="btn btn-outline-danger btn-sm"  title="Delete from your collection"
                                 id="{{deck.id}}" (click)="removeSetToUserCollection($event)">Remove            
                                 </button>
   
                              </div>
                           </div>
                              

                    
                     
                     
                  </div>
               </div>
            </div>

    <!-- First deckuct box start here-->

      </div>
   </div>
      </mat-tab>
<!--Começo visualização por lista-->
      <mat-tab >
         <ng-template mat-tab-label>
            <mat-icon>view_headline</mat-icon>
            List
         </ng-template>
         <!--Cards em lista-->
        <div style="margin-top: 15px; padding: 2px;" id="sets-list">

            <div  id="row-list" *ngFor="let decklist of deck">

                   <div  style="width: 50px;  float: left;">
                     <img [src]='decklist.imagem'  height="70px" width="50px" title="{{decklist.nome}}" >
                   </div> 

                  <div  style="width:90%; height: 70px; background-color:ghostwhite; padding: 5px; display: inline-block; " >
               

                        <a *ngIf="set_type != 'UD'" name="{{decklist.id}}"  (click)="storeDeckId(decklist.id)" [routerLink]="['/deck-details/', decklist.nome]" >
                           {{decklist.nome}}
                          </a><br>

                          <a *ngIf="set_type == 'UD'" name="{{decklist.id}}"  (click)="storeDeckId(decklist.id)" [routerLink]="['/user-deck-details/', decklist.nome]" >
                              {{decklist.nome}}
                          </a><br>

                        <span style="font-size:small; color: rgb(182, 178, 178); font-weight:normal;">Released:</span> &nbsp; <span>2002</span>&nbsp;&nbsp;&nbsp;

                        <span *ngIf="set_type == 'UD'" style="float: right;">
                            <!--Opções que só aparecem se for deck de usuário-->
                            &nbsp; <span style="font-size:small; color: rgb(182, 178, 178); font-weight:normal;"></span>&nbsp;
                            <mat-icon style="color: royalblue; cursor: pointer;" title="Add to your collection">library_add</mat-icon>

                            &nbsp; <span style="font-size:small; color: rgb(182, 178, 178); font-weight:normal;"></span>&nbsp;
                            <mat-icon style="color: #FFD700; cursor: pointer;" title="Edit this deck">edit</mat-icon> &nbsp;

                           <span style="font-size:small; color: rgb(182, 178, 178); font-weight:normal;">

                              <mat-icon style="color: red; cursor: pointer;" title="Delete from your collection"
                              id="{{decklist.id}}" (click)="removeSetToUserCollection($event)">delete_forever</mat-icon>

                           </span>&nbsp;
                        </span>
                              <!-- <button type="button" class="btn btn-info btn-sm" style="background-color: #138496 !important; margin-left: 20px;" >Manege</button> -->                 
                  </div>
            </div>
        </div>
      </mat-tab >
   </mat-tab-group>

<!--PAGINAÇÃO-->
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
</div>

<app-footer></app-footer>

